<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="static/css/style.css">

  <title> Secure Confessions </title>
</head>
<body>
  <h3> Secure Confessions </h3>

  <hr>

  Bucket key {{ bucket_id }} ({{ email }}): {{ bucket_key }}

  <hr>

  <small>made with <code>code</code> by the pkt boyes</small>
</body>
</html>
